extends ../layout

block content
  .page-header
    h1 Boards
  ol.breadcrumb
    li
      a(href='/') Top
  form.form-horizontal(action='/boards/create' method='POST')
    h2 Create Form
    .form-group
      label.col-sm-2.control-label Name
      .col-sm-4
        input.form-control(type='text' name='name')
    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-primary(type='submit' value='Submit')
        
  h2 Board List
  table.table.table-striped
    thead
      tr
        th id
        th name
        th created_at
        th updated_at
        th show
    tbody
      each board in boards
        tr
          td= board.id
          td= board.name
          td= moment(board.created_at).format('YYYY/MM/DD HH:mm:ss')
          td= moment(board.updated_at).format('YYYY/MM/DD HH:mm:ss')
          td
            a(href='/boards/#{board.id}') link